<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form name="login" onsubmit="/login" >

    <h2>Name</h2>
    <textarea>${name}</textarea>

    <h2>LastName</h2>
    <textarea>${lastName}</textarea>

    <h2>Email</h2>
    <textarea>${email}</textarea>

    <h2>UserName</h2>
    <textarea>${userName}</textarea>


    <h2>Password</h2>
    <textarea>${pass}</textarea>

    <button onsubmit="/register">Register</button>


</form>

</body>
</html>